<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                
                                <form action="#">
                                    <h3 class="mb-4">Service Station Recomandations</h3>
                                    <input type="checkbox" id="func1" name="func1">
                                    <label for="func1">Full Service</label><br>

                                    <input type="checkbox" id="func2" name="func2">
                                    <label for="func2">Under Wash</label><br>

                                    <input type="checkbox" id="func3" name="func3">
                                    <label for="func3">Body Wash</label><br>

                                    <input type="checkbox" id="func4" name="func4">
                                    <label for="func4">Vaccum</label><br>

                                    <input type="checkbox" id="func5" name="func5">
                                    <label for="func5">Interior Cleaning</label><br>

                                    <input type="checkbox" id="func6" name="func6">
                                    <label for="func6">Power Steering Oil</label><br>

                                    <input type="checkbox" id="func7" name="func7">
                                    <label for="func7">Engine Oil</label>                           
                                    <select name="func7" id="func7">
                                        <option value="Engine Oil1"></option>
                                        <option value="Engine Oil2"></option>
                                        <option value="Engine Oil3"></option>
                                        <option value="Engine Oil4"></option>
                                      </select><br>

                                    <input type="checkbox" id="func8" name="func8">
                                    <label for="func8">Brake Oil</label>
                                    <select name="func8" id="func8">
                                        <option value="Brake Oil1"></option>
                                        <option value="Brake Oil2"></option>
                                        <option value="Brake Oil3"></option>
                                        <option value="Brake Oil4"></option>
                                      </select><br>
                                    <div class="position">
                                    <input type="checkbox" id="func9" name="func9">
                                    <label for="func9">Gear Oil</label>
                                    <select name="func9" id="func9">
                                        <option value="Brake Oil1"></option>
                                        <option value="Brake Oil2"></option>
                                        <option value="Brake Oil3"></option>
                                        <option value="Brake Oil4"></option>
                                      </select><br>

                                    <input type="checkbox" id="func11" name="func11">
                                    <label for="func11">Oil Filter</label>
                                    <select name="func11" id="func11">
                                        <option value="Brake Oil1"></option>
                                        <option value="Brake Oil2"></option>
                                        <option value="Brake Oil3"></option>
                                        <option value="Brake Oil4"></option>
                                      </select><br>

                                    <input type="checkbox" id="func12" name="func12">
                                    <label for="func12">Fuel Filter</label><br>

                                    <input type="checkbox" id="func13" name="func13">
                                    <label for="func13">Cabin Filter</label><br>

                                    <input type="checkbox" id="func14" name="func14">
                                    <label for="func14">Air Filter</label><br>

                                    <input type="checkbox" id="func15" name="func15">
                                    <label for="func15">Radiator Coolant</label><br>

                                    <input type="checkbox" id="func16" name="func16">
                                    <label for="func16">Battery Replace</label><br>

                                    <input type="checkbox" id="func17" name="func17">
                                    <label for="func17">Wheel Balancing</label>
                                    </div>
                                    <br><br>
                                    <h3 class="mb-4">Other Works</h3>
                                    <textarea class="form-control" name="other" id="other" rows="4" cols="50"></textarea>
                                    <br>

                                    <div class="center">
                                        <input type="submit" value="Submit">
                                     </div>
                                  </form>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                                <div class="center">
                                    <h2>Appointment</h2>
                                    <img style="margin-bottom:30px" src="assets/images/users/user4.jpg">
                                </div>
                                
                                <br><br>
                                <!-- <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"> -->

                                                <form action="/action_page.php">
                                                    <label for="company">Company of the Vehicle:</label>
                                                    <input type="text" class="form-control" name="company" id="company">
                                                    <br>

                                                    <label for="vmodel">Model:</label>
                                                    <input type="text" class="form-control" name="vmodel" id="vmodel">
                                                    <br>

                                                    <label class="label" for="#">Vehicle Number</label>
                                                    <input type="text" class="form-control" name="vnumber" id="vnumber">
                                                    <br>
                                            

                                                    <label for="year">Manufactured Year:</label>
                                                    <input type="text" class="form-control" name="year" id="year">
                                                    <br>


                                                    <label class="label" for="#">Mileage</label>
                                                    <input type="text" class="form-control" name="mileage" id="mileage">
                                                    <br>
                                            

                                                    <label for="cars">Preferred Date:</label>
                                                    <input type="text" class="form-control" name="date" id="date">
                                                    <br>

                                                    <label for="cars">Choose a Time:</label>
                                                    <input type="text" class="form-control" name="time" id="time">
                                                    <br><br>


                                                    <!-- <input type="submit" value="Submit"> -->
                                                  </form>



                                                <!-- <label class="label" for="name">Company of the Vehicle</label> -->


<!-- 

                                                <input [(ngModel)]="#" type="text" class="form-control" name="company" id="company" placeholder="#">
                                            </div>
                                        </div>
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <label class="label" for="email">Vehicle Model</label>
                                                <input [(ngModel)]="#" type="text" class="form-control" name="vmodel" id="vmodel" placeholder="#">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="subject">Vehicle Number</label>
                                                <input [(ngModel)]="#" type="text" class="form-control" name="vnumber" id="vnumber" placeholder="#">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="subject">NIC Number</label>
                                                <input [(ngModel)]="registerUserData.nic" type="text" class="form-control" name="subject" id="subject" placeholder="NIC number">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Address</label>
                                                <input [(ngModel)]="registerUserData.address" type="text" class="form-control" name="subject" id="subject" placeholder="Address">
                                            </div>
                                        </div>
                                        <div style="margin-top: 20px" class="container">
                                            <div class="col-md-12 text-right">
                                                <button (click)="Get Appointment()" type="button" class="btn btn-success">Save</button>
                                            </div> -->
                                        <!-- </div>
                                    </div>
                                </form> -->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>