<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Add a new car</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Brand</label>
                                                <input [(ngModel)]="vehicleData.brand" type="text" class="form-control" name="brand" id="brand" placeholder="Add Vehicle Brand">
                                            </div>
                                        </div>
                                        <div class="col-md-12"> 
                                            <div class="form-group">
                                                <label class="label" for="type">Model</label>
                                                <input [(ngModel)]="vehicleData.model" type="text" class="form-control" name="model" id="model" placeholder="Add Vehicle Model">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Manufactured Year</label>
                                                <input [(ngModel)]="vehicleData.manufacture_year" type="text" class="form-control" name="manufactured_year" id="manufactured_year" placeholder="Add Vehicle's Manufactured Year">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Vehicle Type</label>
                                                <input [(ngModel)]="vehicleData.vehicle_type" type="text" class="form-control" name="manufactured_year" id="manufactured_year" placeholder="Vehicle Type">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Fuel Type</label>
                                                <input [(ngModel)]="vehicleData.fuel_type" type="text" class="form-control" name="fuel_type" id="fuel_type" placeholder="Fuel Type">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Suitable Engine Oil</label>
                                                <input  type="text" class="form-control" name="suitable_engine_oil" id="suitable_engine_oil" placeholder="">
                                            </div>
                                        </div> -->
                                        <div style="margin-top: 20px" class="container">
                                            <div class="col-md-12 text-right">
                                                <button (click)="addVehicle()" type="button" class="btn btn-success">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>