<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Add a new item</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-12"> 
                                            <div class="form-group">
                                                <label class="label" for="type">Type</label>
                                                <input  type="text" [(ngModel)]="itemData.type" class="form-control" name="type" id="type" placeholder="Item Type">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Brand</label>
                                                <input  type="text" [(ngModel)]="itemData.brand" class="form-control" name="brand" id="brand" placeholder="Item Brand">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Model No</label>
                                                <input  type="text" [(ngModel)]="itemData.identification_no" class="form-control" name="identify_no" id="identify_no" placeholder="Model No.">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Unit</label>
                                                <input  type="text" [(ngModel)]="itemData.unit" class="form-control" name="unit" id="unit" placeholder="Unit">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Price</label>
                                                <input  type="text" [(ngModel)]="itemData.price" class="form-control" name="price" id="price" placeholder="Price">
                                            </div>
                                        </div>
                                        <div style="margin-top: 20px" class="container">
                                            <div class="col-md-12 text-right">
                                                <button (click)="addItem()" type="button" class="btn btn-success">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>