<div style="margin-top: 10%;" class="container" [class.right-panel-active]="status" id="container">
    <div class="form-container sign-up-container">
        <form #myForm="ngForm" (ngSubmit)="registerUser(); myForm.resetForm()" action="#">
            <h3><strong>Create Account</strong></h3>
            <input type="text" placeholder="Name" [(ngModel)]="registerUserData.name" name="name" required />
            <input type="text" placeholder="NIC" [(ngModel)]="registerUserData.nic" name="nic" required />
            <input type="text" placeholder="Phone Number" [(ngModel)]="registerUserData.phone" name="phone" required />
            <input type="text" placeholder="Address" [(ngModel)]="registerUserData.address" name="address" required />
            <input type="email" placeholder="Email" [(ngModel)]="registerUserData.email" name="email" required />
            <input type="password" placeholder="Password" [(ngModel)]="registerUserData.password" name="password" required />
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form #myForm1="ngForm" (ngSubmit)="loginUser(); myForm1.resetForm()" action="#">
            <h1>Login</h1>
            <input type="email" placeholder="Email" [(ngModel)]="loginUserData.email" name="email" required />
            <input type="password" placeholder="Password" [(ngModel)]="loginUserData.password" name="password" required />
            <a href="#">Forgot your password?</a>
            <button>Login</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>Already have an account, please log in</p>
                <button class="ghost" id="signIn" (click)="loginpage()">Login</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Welcome to AutoMiraj!</h1>
                <p>If you're a new, please Sign Up</p>
                <button class="ghost" id="signUp" (click)="regpage()">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="script.js"></script>