<div *ngIf="displayName">
    <div class="card">
        <div class="card-body border-top">
            <ngb-alert
            class="
              bg-transparent
              border-danger border
              text-danger
              d-flex
              align-items-center
              fs-5
            "
          >
            <i
              name="Info"
              class="feather-sm flex-shrink-0 d-flex me-2"
            ></i>
            {{errMessage}}
            <!-- Email or Password Incorrect -->
          </ngb-alert>
        </div>
    </div>
</div>

<div style="margin-top: 10%;" class="container" [class.right-panel-active]="status" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Phone Number" />
            <input type="text" placeholder="Address" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Login</h1>
            <input type="email" placeholder="Email" [(ngModel)]="loginUserData.email" name="email" required />
            <input type="password" placeholder="Password" [(ngModel)]="loginUserData.password" name="password" required />
            <a href="#">Forgot your password?</a>
            <button (click)="loginUser()" type="button">Login</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>Already have an account, please log in</p>
                <button class="ghost" id="signIn" (click)="loginpage()">Login</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Welcome to AutoMiraj!</h1>
                <p>If you're a new, please Sign Up</p>
                <button class="ghost" id="signUp" (click)="regpage()">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="script.js"></script>