
<html>
	<head>
		<meta charset="utf-8">
		<title>Invoice</title>
		<link rel="stylesheet" >
		<link rel="license" href="https://www.opensource.org/licenses/mit-license/">
		<script src="script.js"></script>
	</head>
	<body>
		<header>
			<h1>Invoice</h1>

			<span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file" accept="image/*"></span>
		</header>
		<article>
			<h1>Recipient</h1>
			<address contenteditable>
				<p>Auto Miraj<br>emp1</p>
			</address>
			<table class="meta">
				<tr>
					<th><span contenteditable>Invoice #</span></th>
					<td><span contenteditable>101138</span></td>
				</tr>
				<tr>
					<th><span contenteditable>Date</span></th>
					<td><span contenteditable>January 1, 2012</span></td>
				</tr>

			</table>
			<table class="inventory">
				<thead>
					<tr>
						<th><span contenteditable>Item</span></th>
						<th><span contenteditable>Description</span></th>
						<th><span contenteditable>Rate</span></th>
						<th><span contenteditable>Quantity</span></th>
						<th><span contenteditable>Price</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a class="cut">-</a><span contenteditable>Full Service</span></td>
						<td><span contenteditable></span></td>
						<td><span data-prefix>Rs</span><span contenteditable>25000.00</span></td>
						<td><span contenteditable>1</span></td>
						<td><span data-prefix>Rs</span><span>25000.00</span></td>
					</tr>
				</tbody>

                <tbody>
					<tr>
						<td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>
						<td><span contenteditable>Experience Review</span></td>
						<td><span data-prefix>Rs</span><span contenteditable>150.00</span></td>
						<td><span contenteditable>5</span></td>
						<td><span data-prefix>Rs</span><span>600.00</span></td>
					</tr>
				</tbody>

                <tbody>
					<tr>
						<td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>
						<td><span contenteditable>Experience Review</span></td>
						<td><span data-prefix>Rs</span><span contenteditable>150.00</span></td>
						<td><span contenteditable>5</span></td>
						<td><span data-prefix>Rs</span><span>600.00</span></td>
					</tr>
				</tbody>

                <tbody>
					<tr>
						<td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>
						<td><span contenteditable>Experience Review</span></td>
						<td><span data-prefix>Rs</span><span contenteditable>150.00</span></td>
						<td><span contenteditable>5</span></td>
						<td><span data-prefix>Rs</span><span>600.00</span></td>
					</tr>
				</tbody>
			</table>
			<a class="add">+</a>
			<table class="balance">
				<tr>
					<th><span contenteditable>Total</span></th>
					<td><span data-prefix>Rs</span><span>600.00</span></td>
				</tr>
			</table>
		</article>
	</body>
</html>