<div class="row">
  <div class="col-lg-3 col-md-6">
        <div class="card text-center">
            <img src="assets/images/bg/pic2.png" alt="blogs" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Add a new Employee</h4>
                <button type="button" routerLink="/admin/add-emp" class="btn btn-primary">Click here to add</button>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
    	<div class="card text-center">
            <img src="assets/images/bg/pic1.png" alt="blogs" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Add a new Customer</h4>
                <button type="button" class="btn btn-primary">Click here to add</button>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
    	<div class="card text-center">
            <img src="assets/images/bg/pic3.png" alt="blogs" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Add a new Vehicle to System</h4>
                <button type="button" class="btn btn-primary">Click here to add</button>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
    	<div class="card text-center">
            <img src="assets/images/bg/pic4.png" alt="blogs" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Add an item to store</h4>
                <button type="button" class="btn btn-primary">Click here to add</button>
            </div>
        </div>
    </div>
</div>