<div class="row">
  <div class="col-lg-4 col-md-6">
        <div class="card text-center">
            <img src="assets/images/bg/pic2.png" alt="blogs" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Add A New Employee</h4>
                <button type="button" routerLink="/admin/add-emp" class="btn btn-primary">Click here to add</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
    	<div class="card text-center">
            <img src="assets/images/bg/pic3.png" alt="blogs" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Add A New Vehicle To The System</h4>
                <button type="button" routerLink="/admin/add-vehicle" class="btn btn-primary">Click here to add</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
    	<div class="card text-center">
            <img src="assets/images/bg/pic4.png" alt="blogs" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Add An Item To The System</h4>
                <button type="button" routerLink="/admin/add-item" class="btn btn-primary">Click here to add</button>
            </div>
        </div>
    </div>
</div>